<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MeanAuth</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="bi bi-house"></i> 홈</a
          >
        </li>
        <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/profile"> 프로필 </a>
        </li>
        <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="bi bi-speedometer2"></i> 대시보드</a
          >
        </li>
        <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/list">
            <i class="bi bi-speedometer2"></i> 사용자리스트</a
          >
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="bi bi-key"></i> 로그인</a
          >
        </li>
        <li *ngIf="!checkLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register"> 사용자등록</a>
        </li>
        <li *ngIf="checkLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()" href="#"> 로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
