<div class="p-3 mb-2 bg-light rounded-3 text-center">
    
  <div class="container-fluid py-4 text-center">
        
    <h1 class="display-5 fw-bold">MEAN Authentication App</h1>
    <p>Welcome to our custom MEAN authentication app</p>
      <button
      class="btn btn-primary btn-lg"
      type="button"
      routerLink="/register"
    >
      Register
    </button>
       
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
      
  </div>
</div>
  
<div class="container">
  <div class="row">
        
    <div class="col text-center">
            
      <div class="card alert-success" style="width: 18rem">
                
        <div class="card-body">
                    
          <h5 class="card-title">Node.js & Express</h5>
                    
          <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
                    
          <p class="card-text">Node.js와 Express를 이용한 <br /> 백엔드 개발</p>
                             
        </div>
              
      </div>
          
    </div>
        
    <div class="col text-center">
            
      <div class="card alert-secondary" style="width: 18rem">
                
        <div class="card-body">
                    
          <h5 class="card-title">MongoDB</h5>
                    
          <h6 class="card-subtitle mb-2 text-muted">NoSQL DB</h6>
                    
          <p class="card-text">MongoDB Compass <br /> MongoDB Atlas</p>
                             
        </div>
              
      </div>
          
    </div>
        
    <div class="col text-center">
            
      <div class="card alert-warning" style="width: 18rem">
                
        <div class="card-body">
                    
          <h5 class="card-title">Angular/CLI</h5>
                    
          <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
                    
          <p class="card-text">
            Module / Component / Service <br />
            2-way data binding
          </p>
                            
        </div>
              
      </div>
          
    </div>
      
  </div>
</div>
